@import "./variables";
@import "./header";


@mixin addDebugBorders() {
   // border: 2px solid magenta;
} 

* {
    box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}

.container {
    background: url("https://images.unsplash.com/photo-1596368257013-42f910ce12af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1949&q=80");
    background-position: -100px -400px; 

    background-size: 150% 150%;
   // background: blue;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
     
    @include addDebugBorders();
}

.container-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 90%;
    max-width: 900px;
    margin-bottom: 10em;
    justify-content: space-evenly;
    transition: all 5s linear;
    -webkit-transition: all .3s ease .15s;
    -moz-transition: all .3s ease .15s;
    -o-transition: all .3s ease .15s;
    -ms-transition: all .3s ease .15s;
    transition: all .3s ease .15s;

    flex-grow: 1;

    span {
        display: block;
    }

    .number {
        @include addDebugBorders();
        font-size: 5rem;
        font-weight: 500;
        text-align: center;
        height: 1em;
        float: left;
        min-width: 150px;
  
       
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }

    .hide {
        width: 0;
        height: 0;
        opacity: 0;
        margin: 0;
        padding: 0;
        position: absolute;
    }

  

    .unit {
        font-size: 1.5rem;
        font-weight: 400;
        font-family: 'Dancing Script', cursive;
    }
}

.quote {
    margin-top: 0.5em;
    min-height: 200px;
    max-width: 1200px;
    @include addDebugBorders();
    font-weight: 700;
    font-size:4rem;
    text-align: center;
    font-family: 'Dancing Script', cursive;

    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */

}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.container-numbers {

    
    @include addDebugBorders();
}

footer {
    min-height: 150px;
    width: 100%;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(#000, .2), 
    2px 2px 17px rgba(#000, .35), 
    2px 2px 25px rgba(#000, .5);
    background-color: rgba(172, 167, 167, 0.555);
    padding: 3em;
    p {
        margin: 0px;
        
    }

    a {
        color:black;
    }
 }
